.expand-enter-active,.expand-leave-active {
    transition:height .3s ease-in-out,opacity .3s ease-in-out;
    overflow:hidden;
    }
    
    .expand-enter,.expand-leave-to {
    height:0;
    opacity:0;
    }
    
    .b-mobile-filter-screen__bottom-bar {
    position:fixed;
    z-index:10;
    height:80px;
    background-color:#eef2f4;
    width:100%;
    bottom:0;
    left:0;
    padding:20px 16px;
    }
    
    .b-mobile-filter-screen-outer {
    overflow-y:scroll;
    overflow-x:hidden;
    width:100%;
    padding:0;
    }
    
    .b-mobile-filter-screen-inner {
    padding-bottom:80px;
    background-color:#fff;
    min-height:100%;
    }
    
    .b-mobile-filter-screen-inner .fw-radio {
    margin-bottom:0;
    }